<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.ProjectMapper">
	
	<select id="projectList" parameterType="String" resultType="com.smhrd.entity.Project">
		SELECT * FROM PROJECTS WHERE USER_ID = #{user_id};
	</select>
	

	<select id="getPrjList" resultType="com.smhrd.entity.Project">
		SELECT * FROM PROJECTS
	</select>
	
	<insert id="createPrj" parameterType="com.smhrd.entity.Project">
		insert into PROJECTS (prj_nm, prj_desc, user_id, contest_idx)
		values (#{prj_nm}, #{prj_desc}, #{user_id}, #{contest_idx})
	</insert>
	
	<select id="getUsrPrjList" parameterType="String" resultType="com.smhrd.entity.Project">
		select * from PROJECTS where user_id=#{user_id}	
	</select>
	
	<select id="selectPrjIdxsByJoiningUserId" resultType="java.lang.Integer">
		select prj_idx from JOININGS where user_id=#{user_id} and approval_yn='Y'
	</select>
	
	<select id="selectPrjsByIdxs" resultType="com.smhrd.entity.Project">
		SELECT * FROM PROJECTS WHERE prj_idx IN 
		<foreach item="prj_idx" collection="prjIdxList" open="("
			separator="," close=")">
			#{prj_idx}
		</foreach>
	</select>
</mapper>