/* Figma Styles of your File */
:root {
  /* Colors */
  --color-primary-1: #1a72e7;
  --color-blue-sub: #b9cae0;
  --color-blue-bg: #e9f2ff;
  --color-sub-1: #04c750;
  --color-sub-2: #fc7174;
  --color-white: #ffffff;
  --fontcolor-1b1e26: #1b1e26;
  --fontcolor-505050: #333333;
  --fontcolor-666: #666666;
  --fontcolor-999: #999999;
  --linecolor-dbdbdf: #dbdbdf;
  --linecolor-e5e5ec: #e5e5ec;
  --linecolor-d9d9d9: #d9d9d9;
  --bgcolor-bg-f4f8fe: #f6f8fe;
  --bgcolor-bg-fafafd: #fafafd;

  /* Fonts */
  --font-title-42-b-font-family: Pretendard-Bold, sans-serif;
  --font-title-42-b-font-size: 42px;
  --font-title-42-b-line-height: 140%;
  --font-title-42-b-font-weight: 700;
  --font-title-42-b-font-style: normal;
  --font-title-36-b-font-family: Pretendard-Bold, sans-serif;
  --font-title-36-b-font-size: 36px;
  --font-title-36-b-line-height: 140%;
  --font-title-36-b-font-weight: 700;
  --font-title-36-b-font-style: normal;
  --font-bannertitle-36-sb-font-family: Pretendard-SemiBold, sans-serif;
  --font-bannertitle-36-sb-font-size: 36px;
  --font-bannertitle-36-sb-line-height: 140%;
  --font-bannertitle-36-sb-font-weight: 600;
  --font-bannertitle-36-sb-font-style: normal;
  --font-title-28-b-font-family: Pretendard-Bold, sans-serif;
  --font-title-28-b-font-size: 30px;
  --font-title-28-b-line-height: 140%;
  --font-title-28-b-font-weight: 700;
  --font-title-28-b-font-style: normal;
  --font-title-26-b-font-family: Pretendard-Bold, sans-serif;
  --font-title-26-b-font-size: 26px;
  --font-title-26-b-line-height: 140%;
  --font-title-26-b-font-weight: 700;
  --font-title-26-b-font-style: normal;
  --font-title-21-b-font-family: Pretendard-Bold, sans-serif;
  --font-title-21-b-font-size: 21px;
  --font-title-21-b-line-height: 140%;
  --font-title-21-b-font-weight: 700;
  --font-title-21-b-font-style: normal;
  --font-title-21-m-font-family: Pretendard-SemiBold, sans-serif;
  --font-title-21-m-font-size: 21px;
  --font-title-21-m-line-height: 140%;
  --font-title-21-m-font-weight: 600;
  --font-title-21-m-font-style: normal;
  --font-subtitle-18-b-font-family: Pretendard-Bold, sans-serif;
  --font-subtitle-18-b-font-size: 18px;
  --font-subtitle-18-b-line-height: 140%;
  --font-subtitle-18-b-font-weight: 700;
  --font-subtitle-18-b-font-style: normal;
  --font-subtitle-18-sb-font-family: Pretendard-SemiBold, sans-serif;
  --font-subtitle-18-sb-font-size: 18px;
  --font-subtitle-18-sb-line-height: 140%;
  --font-subtitle-18-sb-font-weight: 600;
  --font-subtitle-18-sb-font-style: normal;
  --font-text-16-sb-font-family: Pretendard-SemiBold, sans-serif;
  --font-text-16-sb-font-size: 16px;
  --font-text-16-sb-line-height: 140%;
  --font-text-16-sb-font-weight: 600;
  --font-text-16-sb-font-style: normal;
  --font-text-16-m-font-family: Pretendard-Medium, sans-serif;
  --font-text-16-m-font-size: 16px;
  --font-text-16-m-line-height: 140%;
  --font-text-16-m-font-weight: 500;
  --font-text-16-m-font-style: normal;
  --font-text-15-sb-font-family: Pretendard-SemiBold, sans-serif;
  --font-text-15-sb-font-size: 15px;
  --font-text-15-sb-line-height: 140%;
  --font-text-15-sb-font-weight: 600;
  --font-text-15-sb-font-style: normal;
  --font-text-15-m-font-family: Pretendard-Medium, sans-serif;
  --font-text-15-m-font-size: 15px;
  --font-text-15-m-line-height: 140%;
  --font-text-15-m-font-weight: 500;
  --font-text-15-m-font-style: normal;
  --font-sub-14-sb-font-family: Pretendard-SemiBold, sans-serif;
  --font-sub-14-sb-font-size: 14px;
  --font-sub-14-sb-line-height: 140%;
  --font-sub-14-sb-font-weight: 600;
  --font-sub-14-sb-font-style: normal;
  --font-sub-14-m-font-family: Pretendard-Medium, sans-serif;
  --font-sub-14-m-font-size: 14px;
  --font-sub-14-m-line-height: 140%;
  --font-sub-14-m-font-weight: 500;
  --font-sub-14-m-font-style: normal;
  --font-sub-13-m-font-family: Pretendard-Medium, sans-serif;
  --font-sub-13-m-font-size: 13px;
  --font-sub-13-m-line-height: 140%;
  --font-sub-13-m-font-weight: 500;
  --font-sub-13-m-font-style: normal;

  /* Effects */
}
