<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.ContestMapper">
	<select id="contestList" resultType="com.smhrd.entity.Contest">
		SELECT * FROM CONTESTS;
	</select>
	
	<select id="contestDetail" parameterType="int" resultType="com.smhrd.entity.Contest">
		SELECT * FROM CONTESTS WHERE CONTEST_IDX = #{contest_idx};
	</select>
</mapper>