<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.JoiningMapper">

	<insert id="insertJoining" parameterType="com.smhrd.entity.Joining" 
	useGeneratedKeys="true" keyProperty="join_idx" keyColumn="JOIN_IDX">
		insert into JOININGS (rc_idx, user_id, prj_idx)
		values (#{rc_idx}, #{user_id}, #{prj_idx})
	</insert>
	
	<update id="updateJoining">
		update JOININGS 
		set
			approval_yn=#{approval_yn},
			rc_role=#{rc_role}
		where join_idx=#{join_idx}
	</update>
	
	<delete id="deleteJoining">
		delete from JOININGS where join_idx=#{join_idx}
	</delete>
	
	<select id="checkApplied" resultType="java.lang.Boolean">
		SELECT EXISTS(
        SELECT 1
        FROM JOININGS
        WHERE rc_idx = #{rc_idx} and user_id = #{user_id}
    )
	</select>
	
	<select id="getRcIdxByJoinIdx" resultType="java.lang.Integer">
		select rc_idx from JOININGS where join_idx=#{join_idx} 
	</select>
	
</mapper>