<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.RecruitMapper">


	<insert id="insertRecruit"
		parameterType="com.smhrd.entity.Recruit" useGeneratedKeys="true"
		keyProperty="rc_idx" keyColumn="RC_IDX">
		INSERT INTO RECRUITS (PRJ_IDX,
		RC_TITLE, RC_CONTENT, USER_ID, CLOSED_AT)
		VALUES (#{prj_idx},
		#{rc_title}, #{rc_content}, #{user_id}, #{closed_at})
	</insert>

	<insert id="insertRecruitStacks">
		INSERT INTO RECRUIT_STACKS (RC_IDX, STACK_IDX)
		VALUES
		<foreach item="stack" collection="requiredSkills"
			separator=",">
			(#{rcIdx}, #{stack.stack_idx})
		</foreach>
	</insert>

	<select id="selectRcAll" resultType="com.smhrd.entity.Recruit">
		select * from RECRUITS
	</select>

	<select id="selectStacksByRcIdx" resultType="java.lang.Integer">
		select stack_idx
		from RECRUIT_STACKS where rc_idx=#{rc_idx}
	</select>

	<select id="selectStackNameByIdx" parameterType="int"
		resultType="java.lang.String">
		select stack_nm from TECH_STACKS where
		stack_idx=#{stack_idx}
	</select>

	<select id="selectRcByIdx" resultType="com.smhrd.entity.Recruit">
		select * from RECRUITS
		where rc_idx=#{rc_idx}
	</select>

	<select id="selectContestIdxByPrjIdx"
		resultType="java.lang.Integer">
		select contest_idx from PROJECTS where prj_idx=#{prj_idx}
	</select>

	<select id="selectContestByContestIdx" parameterType="int"
		resultType="com.smhrd.entity.Contest">
		select * from CONTESTS where contest_idx=#{contest_idx}
	</select>

	<select id="getRcTitleByIdx" resultType="java.lang.String">
		select rc_title from
		RECRUITS where rc_idx=#{rc_idx}
	</select>

	<select id="selectLatestRecruitsWithStacks" parameterType="int"
		resultType="java.util.Map">
		SELECT
		r.rc_idx,
		r.rc_title,
		r.rc_content,
		r.user_id,
		r.created_at,
		r.closed_at,
		ts.stack_nm
		FROM (
		SELECT
		rc_idx,
		rc_title,
		rc_content,
		user_id,
		created_at,
		closed_at
		FROM RECRUITS
		ORDER BY created_at DESC
		LIMIT #{limit}
		) r
		LEFT JOIN RECRUIT_STACKS rs ON r.rc_idx = rs.rc_idx
		LEFT JOIN TECH_STACKS ts ON rs.stack_idx = ts.stack_idx
		ORDER BY r.created_at DESC;
	</select>
	
	<select id="selectRcByContestIdx" parameterType="int"
		resultType="com.smhrd.entity.Recruit">
		SELECT r.*
		FROM RECRUITS r
		INNER JOIN PROJECTS p ON r.PRJ_IDX = p.PRJ_IDX
		WHERE p.CONTEST_IDX = #{contestIdx}
	</select>
	
</mapper>